=NAME Idle thread waiting for XDQP data
=TAGS idle, XDQP, noflame
#0  0x00007fd9d542f113 in poll () from /lib64/libc.so.6
#1  0x0000000003d94238 in svc::Socket::_wait(unsigned int, bool, bool, char const*) const ()
#2  0x0000000003d959ed in svc::Socket::recv(char*, char*, unsigned int) ()
#3  0x0000000003d95df0 in svc::Sockbuf::underflow() ()
#4  0x0000000003d8eeb9 in svc::Sockbuf::xsgetn(char*, long) ()
#5  0x0000000003a22c47 in xdmp::XDQPServerConnection::recv(xdmp::XDQPServerListener const&, std::vector<unsigned int, std::allocator<unsigned int> >&) ()
#6  0x0000000003a76fc4 in xdmp::XDQPServerConnection::run() ()
#7  0x0000000003a7a7fd in xdmp::XDQPServerConnectionThread::run() ()
#8  0x0000000003da4073 in svc::Thread::top() ()
#9  0x0000000003da4bd9 in runThread ()
#10 0x00007fd9d5da2aa1 in start_thread () from /lib64/libpthread.so.0
#11 0x00007fd9d543893d in clone () from /lib64/libc.so.6

=NAME Idle thread
=TAGS idle, noflame
#0  0x00007fd4f96b2a00 in sem_wait () from /lib64/libpthread.so.0
#1  0x0000000003d86673 in svc::Semaphore::wait(bool) const ()
#2  0x0000000003da6c64 in svc::PooledThread::run() ()
#3  0x0000000003da4073 in svc::Thread::top() ()
#4  0x0000000003da4bd9 in runThread ()
#5  0x00007fd4f96acaa1 in start_thread () from /lib64/libpthread.so.0
#6  0x00007fd4f8d4293d in clone () from /lib64/libc.so.6

=NAME XDQP Client waiting for input
=TAGS idle, XDQP, noflame
#0  0x00007fd4f8d39113 in poll () from /lib64/libc.so.6
#1  0x0000000003d94238 in svc::Socket::_wait(unsigned int, bool, bool, char const*) const ()
#2  0x0000000003d959ed in svc::Socket::recv(char*, char*, unsigned int) ()
#3  0x0000000003d95df0 in svc::Sockbuf::underflow() ()
#4  0x0000000003d8eeb9 in svc::Sockbuf::xsgetn(char*, long) ()
#5  0x00000000017743d5 in xdmp::XDQPClientConnection::recv(xdmp::XDQPClientListener const&, std::vector<unsigned int, std::allocator<unsigned int> >&, long*) ()
#6  0x0000000001785607 in xdmp::XDQPClientConnection::run(xdmp::XDQPClientListener&) ()
#7  0x0000000001787a24 in xdmp::XDQPClientConnectionThread::run() ()
#8  0x0000000003da4073 in svc::Thread::top() ()
#9  0x0000000003da4bd9 in runThread ()
#10 0x00007fd4f96acaa1 in start_thread () from /lib64/libpthread.so.0
#11 0x00007fd4f8d4293d in clone () from /lib64/libc.so.6

=NAME XDBC Server waiting for connection
=TAGS idle, XDBC, noflame
#0  0x00007fd4f96b3b2d in accept () from /lib64/libpthread.so.0
#1  0x0000000003d98531 in svc::Socket::accept(sockaddr_in&) ()
#2  0x0000000003a01344 in xdmp::XDBCServerThread::run() ()
#3  0x0000000003da4073 in svc::Thread::top() ()
#4  0x0000000003da4bd9 in runThread ()
#5  0x00007fd4f96acaa1 in start_thread () from /lib64/libpthread.so.0
#6  0x00007fd4f8d4293d in clone () from /lib64/libc.so.6

=NAME App Server waiting for connection
=TAGS idle, app-server, noflame
#0  0x00007fd4f96b3b2d in accept () from /lib64/libpthread.so.0
#1  0x0000000003d98531 in svc::Socket::accept(sockaddr_in&) ()
#2  0x0000000002015548 in xdmp::AppServerThread::run() ()
#3  0x0000000003da4073 in svc::Thread::top() ()
#4  0x0000000003da4bd9 in runThread ()
#5  0x00007fd4f96acaa1 in start_thread () from /lib64/libpthread.so.0
#6  0x00007fd4f8d4293d in clone () from /lib64/libc.so.6

=NAME XDBC Server waiting for connection
=TAGS idle, XDBC, noflame
#0  0x00007fad38ac9c6f in accept4 () from /lib64/libc.so.6
#1  0x000000000431d41a in svc::Socket::accept(sockaddr_in&) ()
#2  0x0000000003fb62f3 in xdmp::XDBCServerThread::run() ()
#3  0x000000000432c1ab in svc::Thread::top() ()
#4  0x000000000432d3f9 in runThread ()
#5  0x00007fad39639aa1 in start_thread () from /lib64/libpthread.so.0
#6  0x00007fad38ac793d in clone () from /lib64/libc.so.6

=NAME App Server waiting for connection
=TAGS idle, app-server, noflame
#0  0x00007fad38ac9c6f in accept4 () from /lib64/libc.so.6
#1  0x000000000431d41a in svc::Socket::accept(sockaddr_in&) ()
#2  0x00000000022c5433 in xdmp::AppServerThread::run() ()
#3  0x000000000432c1ab in svc::Thread::top() ()
#4  0x000000000432d3f9 in runThread ()
#5  0x00007fad39639aa1 in start_thread () from /lib64/libpthread.so.0
#6  0x00007fad38ac793d in clone () from /lib64/libc.so.6

=NAME XDBC Keepalive threads
=TAGS idle, XDBC, noflame
#0  0x00007f7c68123113 in poll () from /lib64/libc.so.6
#1  0x0000000003d94238 in svc::Socket::_wait(unsigned int, bool, bool, char const*) const ()
#2  0x0000000003d9439f in svc::Socket::wait(unsigned int) const ()
#3  0x00000000039e7fab in xdmp::XDBCKeepAliveTask::run() ()
#4  0x0000000003da6df5 in svc::PooledThread::run() ()
#5  0x0000000003da4073 in svc::Thread::top() ()
#6  0x0000000003da4bd9 in runThread ()
#7  0x00007f7c68a96aa1 in start_thread () from /lib64/libpthread.so.0
#8  0x00007f7c6812c93d in clone () from /lib64/libc.so.6

=NAME XDQP Server waiting for connection
=TAGS idle, XDQP, noflame
#0  0x00007fd4f96b3b2d in accept () from /lib64/libpthread.so.0
#1  0x0000000003d98531 in svc::Socket::accept(sockaddr_in&) ()
#2  0x0000000003a837db in xdmp::XDQPServerThread::run() ()
#3  0x0000000003da4073 in svc::Thread::top() ()
#4  0x0000000003da4bd9 in runThread ()
#5  0x00007fd4f96acaa1 in start_thread () from /lib64/libpthread.so.0
#6  0x00007fd4f8d4293d in clone () from /lib64/libc.so.6

=NAME Starter thread
=TAGS idle, noflame
#0  0x00007fd4f96b2a00 in sem_wait () from /lib64/libpthread.so.0
#1  0x0000000003d86673 in svc::Semaphore::wait(bool) const ()
#2  0x0000000003da3d44 in svc::StarterThread::run() ()
#3  0x0000000003da4073 in svc::Thread::top() ()
#4  0x0000000003da4bd9 in runThread ()
#5  0x00007fd4f96acaa1 in start_thread () from /lib64/libpthread.so.0
#6  0x00007fd4f8d4293d in clone () from /lib64/libc.so.6

=NAME Starter thread
=TAGS idle, noflame
#0  0x00007f800a4ffa00 in sem_wait () from /lib64/libpthread.so.0
#1  0x000000000429d495 in svc::Semaphore::wait(bool, long) const ()
#2  0x00000000042b7aef in svc::StarterThread::run() ()
#3  0x00000000042b951b in svc::Thread::top() ()
#4  0x00000000042ba719 in runThread ()
#5  0x00007f800a4f9aa1 in start_thread () from /lib64/libpthread.so.0
#6  0x00007f800998793d in clone () from /lib64/libc.so.6

=NAME Cluster manager
=TAGS idle, noflame
#0  0x00007fd4f96b400d in nanosleep () from /lib64/libpthread.so.0
#1  0x0000000003da3a51 in svc::Thread::sleep(unsigned int) ()
#2  0x00000000021f4d0a in xdmp::ClusterManager::clusterThread() ()
#3  0x0000000003da4073 in svc::Thread::top() ()
#4  0x0000000003da4bd9 in runThread ()
#5  0x00007fd4f96acaa1 in start_thread () from /lib64/libpthread.so.0
#6  0x00007fd4f8d4293d in clone () from /lib64/libc.so.6

=NAME Background loop
=TAGS idle, noflame
#0  0x00007fd4f96b400d in nanosleep () from /lib64/libpthread.so.0
#1  0x0000000003da3a51 in svc::Thread::sleep(unsigned int) ()
#2  0x00000000033fce3f in xdmp::Server::backgroundLoop() ()
#3  0x000000000340d22c in xdmp::run() ()
#4  0x00000000034124bb in xdmp::daemon(int, char const**) ()
#5  0x00007fd4f8c78d5d in __libc_start_main () from /lib64/libc.so.6
#6  0x0000000000b8d929 in _start ()

=NAME App-server keepalive
=TAGS idle, app-server, noflame
#0  0x00007fd4f8d39113 in poll () from /lib64/libc.so.6
#1  0x0000000003d94238 in svc::Socket::_wait(unsigned int, bool, bool, char const*) const ()
#2  0x0000000003d9439f in svc::Socket::wait(unsigned int) const ()
#3  0x0000000001fff367 in xdmp::AppKeepAliveTask::run() ()
#4  0x0000000003da6df5 in svc::PooledThread::run() ()
#5  0x0000000003da4073 in svc::Thread::top() ()
#6  0x0000000003da4bd9 in runThread ()
#7  0x00007fd4f96acaa1 in start_thread () from /lib64/libpthread.so.0
#8  0x00007fd4f8d4293d in clone () from /lib64/libc.so.6

=NAME Pooled thread
=TAGS idle, noflame
#0  0x00007fb342adba00 in sem_wait () from /lib64/libpthread.so.0
#1  0x000000000429d495 in svc::Semaphore::wait(bool, long) const ()
#2  0x00000000042bb9c9 in svc::PooledThread::run() ()
#3  0x00000000042b951b in svc::Thread::top() ()
#4  0x00000000042ba719 in runThread ()
#5  0x00007fb342ad5aa1 in start_thread () from /lib64/libpthread.so.0
#6  0x00007fb341f6393d in clone () from /lib64/libc.so.6
