=NAME Idle thread waiting for XDQP data
=TAGS idle, XDQP
#0  0x00007fd9d542f113 in poll () from /lib64/libc.so.6
#1  0x0000000003d94238 in svc::Socket::_wait(unsigned int, bool, bool, char const*) const ()
#2  0x0000000003d959ed in svc::Socket::recv(char*, char*, unsigned int) ()
#3  0x0000000003d95df0 in svc::Sockbuf::underflow() ()
#4  0x0000000003d8eeb9 in svc::Sockbuf::xsgetn(char*, long) ()
#5  0x0000000003a22c47 in xdmp::XDQPServerConnection::recv(xdmp::XDQPServerListener const&, std::vector<unsigned int, std::allocator<unsigned int> >&) ()
#6  0x0000000003a76fc4 in xdmp::XDQPServerConnection::run() ()
#7  0x0000000003a7a7fd in xdmp::XDQPServerConnectionThread::run() ()
#8  0x0000000003da4073 in svc::Thread::top() ()
#9  0x0000000003da4bd9 in runThread ()
#10 0x00007fd9d5da2aa1 in start_thread () from /lib64/libpthread.so.0
#11 0x00007fd9d543893d in clone () from /lib64/libc.so.6

=NAME Idle thread waiting for XDQP connection
=TAGS idle, XDQP
#0  0x00007fd9d5da9b2d in accept () from /lib64/libpthread.so.0
#1  0x0000000003d98531 in svc::Socket::accept(sockaddr_in&) ()
#2  0x0000000003a837db in xdmp::XDQPServerThread::run() ()
#3  0x0000000003da4073 in svc::Thread::top() ()
#4  0x0000000003da4bd9 in runThread ()
#5  0x00007fd9d5da2aa1 in start_thread () from /lib64/libpthread.so.0
#6  0x00007fd9d543893d in clone () from /lib64/libc.so.6


=NAME XDQPServerConnection
=TAGS xdqpserver
#5  0x0000000003a22c47 in xdmp::XDQPServerConnection::recv(xdmp::XDQPServerListener const&, std::vector<unsigned int, std::allocator<unsigned int> >&) ()

